# Python (backend)
backend/venv/
__pycache__/
*.pyc
.env

# Flutter (frontend)
frontend/.dart_tool/
frontend/.idea/
frontend/.packages
frontend/build/
frontend/pubspec.lock
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# OS関連
.DS_Store
Thumbs.db
